.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.heading {
    font-size: 4rem;
    color: orange;
    margin-bottom: 0;
    text-shadow: 2px 2px 0px darkorange;
}

.input-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.input {
    padding: 2px;
    height: 40px;
    width: 300px;
    font-size: 100%;
}

#input2 {
    width: 100px;
    margin-left: 30px;
}

.btn {
    background-color: orange;
    padding: 13px 20px;
    border: none;
    border-radius: 30px;
    margin-left: 30px;
    color: white;
}

.result-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    color: green;
    font-size: 3rem;
}

.heading2 {
    margin-top: 10px;
    color: orangered;
    text-shadow: 1px 1px 0px red;
}

.display-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#display {
    padding: 2px;
    height: 50px;
    width: 50vw;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: darkorange;
}

.btn:active {
    background-color: orangered;
}

footer {
    margin-top: 60px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

p {
    text-shadow: 0px 0px 10px purple;
    color: purple;

    animation: move 30s linear infinite;
}

@keyframes move {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(100%);}
}

@media screen and (max-width: 450px) {
    .input-div {
        flex-direction: column;
        gap: 30px;
        margin-top: 0;
    }

    .heading {
        font-size: 2rem;
    }

    .heading2 {
        font-size: 1rem;
    }

    .result-div {
        margin-top: 30px;
    }

    #result {
        font-size: 1.25rem;
    }
}
